.apart-input{
  background-color: @gray-lighter; 
  text-align: center;
  font-size: 0;
  padding: 50px 0px;
  &__wrapper{
    width: 380px;
    margin: 0 auto;
    @media(max-width:768px){
      width: 100%;
      text-align: center;
    }
  }
  &__title{
    font-size: @common-title;
    margin-bottom: 30px;
  }

    label{
      cursor: pointer;
      width: 190px;
      height: 108px;
      display: inline-block;
      font-size: 14px;
      transition:0.5s ease all;
       background-position: 55px 40px;
       @media(max-width:768px){
      width: 130px;
      background-position: 25px 40px;
    }
   
    }
    label[for=apart-cottage]{
      background-image: url(../img/icons/cottage.png);
      background-repeat: no-repeat;
    }
    input#apart-hotel:checked+label, 
    input#apart-cottage:checked+label {
      opacity: 0.5;
    }
    label[for=apart-hotel]{
      background-image: url(../img/icons/hotel.png);
      background-repeat: no-repeat;
    }
    input[type=radio] {
      display: none;
      
    }
}