.burger{
	display: flex;
	flex-direction: column;
	padding: 15px;
	cursor: pointer;
	&__line{
		display: inline-block;
		width: 30px;
		height: 3px;
		border-radius: 2px;
		margin-bottom: 3px;
		background-color: @orange;
		
	}
}