.page-footer{
	padding: 50px 0px;
	&__logo-img{
		height: 50px;
		display: inline-block;
	}
	&__contacts{
		display: flex;
		height: 50px;
		align-items: center;
	}
	&__adress{
		display: flex;
		height: 50px;
		align-items: center;
	}


}
.social{
	display: flex;
	align-items: center;
	justify-content: center;
}