.main-nav{
	&__item{
		display: inline-block;

		.link{
			display: inline-block;
			color: @gray-darker;
			text-decoration: none;
			padding: 7px;
			font-size: @small-text;
			text-transform: uppercase;

			&:hover{
				color: @orange;
			}
		}
	}
	&__list{
		margin: 0;
	}
}