.main-nav{
	transition: 1s ease all;
	&--responsive.active{
		height: 276px;
	}
	&--responsive{
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: 1s ease all;
		.main-nav__list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.main-nav__item{
			// display: block;
			// text-align: center;
			
			border: 1px solid @gray-light;
			width: 100%;
			text-align: center;
			border-collapse: collapse;
			border-bottom: none;
			a{
				width: 100%;
				display: inline-block;
				height: 100%;
				padding: 20px 0px;

			}
			&:last-child{
				border-bottom: 1px solid @gray-light;
			}
		}
	}
	@media(max-width:1200px){
		position: absolute;
		overflow: hidden;
		width: 0px;
		top:0px;
		left:0;
		height: 0;
		background-color: @green;
		transition: 1s ease all;
	}
	&__item{
		display: inline-block;

		.link{
			display: inline-block;
			color: @gray-darker;
			text-decoration: none;
			padding: 7px;
			font-size: @small-text;
			text-transform: uppercase;

			&:hover{
				color: @orange;
			}
		}
	}
	&__list{
		margin: 0;
	}
}
.main-nav.active{
	@media(max-width:1200px){
		width: 100%;
		height: 160px;
		right: -80px;
		top: 20px;
		padding: 10px;
		z-index: 9;
	}
}