.page-header{
	transition:1s ease all;
	margin: 0px;
	&__contacts{
		font-size: 12px;
	}
	b{
		font-size: 18px;
		margin-bottom: 10px;
		display: inline-block;
	}
		&__inner{
			display: flex;
			padding: 30px 0px;
			align-items: center;
			width: 75%;
		}
}
