
.promo-slider{
	
	&__item-text{
		p{
			font-size: 18px;
		}
	}
	&__item-text{
		width: 580px;
	}
	&__slide{
		background-color: @green;
		height: 430px;
		padding: 90px 0px;
		width: 100%;
	}
	&__slide-title{
		font-size: @large-title;
		margin-bottom: 35px;
	}
	
	
}
