#reviews{
	margin: 0 auto;
	overflow: visible;
	position: relative;
	@media(min-width:1200px){
		width: 1000px;

	}

}

.reviews{
	background: @green;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
	margin-bottom: 50px;

	cite{
		color:@gray;
		display: block;
		text-align: center;
	}
	&__title{
		.common-title();
		color: @gray-lighter;
		margin-bottom: 50px;
	}
	&__item{
		width: 480px;
		display: inline-block;
		position: relative;
		overflow: visible;
		background-color: @gray-lighter;
		padding-top: 120px;
		padding-bottom: 30px;
		margin: 20px 10px;
		@media(max-width:768px){
			width: 100%;
			margin-left: 0px;
			margin-right: 0px;
		}
		@media(max-width:1200px){
			margin-bottom: 50px;
		}
	}
	&__img-wrapper{
		width: 65px;
		height: 70px;
		display: inline-block;
	}
	&__footer{
		position: absolute;
		top: -15px;
		left: 50%;
		transform:translateX(-50%);
		text-align: center;
		&:before{
			content: "";
			position: absolute;
			display: inline-block;
			background-image: url(../img/sprite.png);
			bottom: -23px;
			left:50%;
			transform:translateX(-50%);

		}
	}
	&__vk:before{
		width: 22px;
    	height: 13px;
   		background-position: -155px -113px;
	}
	&__fb:before{
		width: 17px;
    	height: 17px;
    	background-position: -157px -5px;
	}
	&__btn{
		display: block;
		width: 140px;
		height: 40px;
		margin: 20px auto;
		background-color: transparent;
		border: 2px solid @gray-lighter;
		box-sizing: border-box;
		padding: 10px 20px;
		cursor: pointer;

		&:hover{
			background-color: @gray-lighter;
			text-decoration: none;
			color: @green;
		}
	}
}